    box-sizing: border-box;
    @media (min-width: 100px) {}


    body {
        width: 840px;
        height: auto;
        padding: 50px;
        margin: auto;
        font-family: 'Times New Roman', Times, serif;
    }

    header {
        background: rgb(27, 193, 223);
        padding: 2rem;
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: center;
        justify-content: space-between;
        font-family: "Times New Roman", Times, serif;
    }

    footer {
        background: wheat;
        padding: 2rem;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Roboto, sans-serif;
    }

    main {
        margin: 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        width: 760px;
        background-color: #eee;
        color: #000;
    }

    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        justify-content: left;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    aside,
    nav,
    section {
        border: solid 1px;
    }

    section {
        margin-top: 15px;
    }

    .sidebar {
        height: 300px;
        width: 300px;

    }


    .section2 {
        height: 200px;
    }

    .section4 {
        height: 150px;


    }

    img {
        background-color: black;
        animation: fade 15s;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    form fieldset {
        margin: 2rem 0;
        border: 1px solid #445ba9;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {
        color: #445ba9;
        margin: 0 1rem;
        padding: 0 .5rem;
    }

    form label.top,
    form div {
        display: block;
        padding-top: 1rem;
        color: #9c2c13;
        font-size: .8rem;
    }

    form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);

    }

    form label.sbs {
        display: block;
        padding: .75rem 0;
        color: #000000;
    }

    form input.submitBtn {
        border: none;
        background-color: #9c2c13;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
    }

    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    form label.fname input:required {
        border-left: red solid 6px;

    }

    form label.lname {
        text-align: left;
    }

    label {
        color: red;
    }

    form label {
        color: red;
        align-content: center;

    }

    div.lname {
        font-size: 17px;
    }

    div.tp {
        font-size: 17px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        margin: 0 auto;
        padding: 0.5rem;
        max-width: 700px;
        background-color: #fff;
        font-family: Roboto, Helvetica, sans-serif;
    }

    .menu {
        margin: 1rem auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #bed;
        text-align: center;
    }

    .menu button {
        padding: 1rem;
        font-weight: 700;
    }

    section {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #eee;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
    }

    .grid section {
        text-align: center;
    }

    .grid img {
        border: 1px solid #fff;
        box-shadow: 0 0 10px #333;
    }

    .grid section>* {
        margin: 0.1rem;
    }

    .grid h3 {
        font-family: "Caveat", cursive;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .list section {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    .list section>* {
        margin: 0 1rem;
    }

    .list section img {
        display: none;
        /* smaller viewports only */
    }

    .list section h3 {
        font-size: 1rem;
        font-family: Roboto, Helvetica, sans-serif;
    }

    .list section:nth-child(even) {
        background-color: #bed;
    }

    section h3 {
        font-size: 1.5rem;
    }

    section p {
        font-weight: 600;
        font-size: smaller;
    }

    section a {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 0.85rem;
        color: navy;
        letter-spacing: 1.1pt;
    }

    img {
        height: 75px;
        max-width: 100%;
        /* Images are jerks - Seattle*/
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Times New Roman', Times, serif;
        min-height: 100vh;
        color: #000000;
    }

    table {
        width: 1000px;
        margin: 30px auto;
    }

    table th {
        padding: 10px 0;
        background-color: #f4f4f4;
        /* background-color: #fff; */
        border: thin solid #d4d4d4;
    }

    table td {
        padding: 10px;
        border: thin solid #d4d4d4;
        width: 18%;
        text-align: center;
        background-color: #fff;
    }

    table img {
        width: 70%;
    }

    table td.total-price {
        font-weight: bold;
        font-size: 22px;
    }

    table a {
        text-decoration: none;
        color: darkred;
        background-color: #ffecef;
        padding: 10px 15px;
    }

    table a:active {
        background-color: #ccf4d6;
        color: green;
    }

    table select {
        padding: 10px;
        width: 200px;
        font-size: 16px;
        border: thin solid #d4d4d4;
        background-color: transparent;
    }

    table select:focus {
        outline: none;
    }

    table img {
        width: 60%;
    }

    p {
        margin: 1rem;
        display: flex;
    }

    .label {
        display: block;
        width: 175px;
        font-weight: 700;
        color: navy;
        text-align: right;
        margin-right: 10px;
    }

    .smaller {
        font-size: smaller;
    }
    