    box-sizing: border-box;
@media (min-width: 100px)
{}
    

body {
     width: 640px;
     height: auto;
     padding: 50px;
     margin: auto;
 }
  header {
      background: green;
      padding: 2rem;
      display: grid;
      grid-template-columns: 150px 1fr;
      align-items: center;
      justify-content: space-between;
      font-family: "Roboto Mono";
  }

  main {
      background: rgb(68, 187, 118);
      padding: 1rem;
      font-family: "Lora";
      text-align: center;
      display: grid;
  }

  footer {
      background: wheat;
      padding: 2rem;
      text-align: center;
  }