
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap');
*
h1{
font-family: "Romanescodisplay";
}
.Scenarios{
    font-family: 'Times New Roman', Times, serif;
}
.ColorSchema{
        font-family: 'Times New Roman', Times, serif;
}
.Typography{
            font-family: 'Times New Roman', Times, serif;
}
p{
            font-family: 'Times New Roman', Times, serif;
}